html
    head
        link(rel='stylesheet', href='/styles.css')
        title= page
    body
    div.nav
        nav
            a(href='/') Home
            a(href='/services') Services
            a(href='/contact') Contact
    div.head
        h1 Welcome to our contact us page!
        h1 We are here to help!
    div.content
        p Email us at: <a href="mailto:nwobodoobinna2018@gmail.com"> nwobodoobinna2018@gmail.com
        p Call us at: +2348068186317.</a>
        p Feel free Contact us today to learn more about our services.