html
    head
        link(rel='stylesheet', href='/styles.css')
        title= page
    body
    div.nav
        nav
            a(href='/') Home
            a(href='/services') Services
            a(href='/contact') Contact
    div.head
        h1 Welcome to Our #{page}page!
    div.content
        p We provide high-quality products and services to our customers.
        p Our mission is to make the world a better place.
        p Contact us today to learn more.