html
    head
        link(rel='stylesheet', href='/styles.css')
        title= page
    body
    div.nav
        nav
            a(href='/') Home
            a(href='/services') Services
            a(href='/contact') Contact 
    div.head
        h1 Welcome to Our #{page} page!
    div.content
        p We offer a variety of products and services, including;
        ul
            li Web development
            li Graphic Design
            li Marketing
            li Consulting
        p Feel free to Contact us today to learn more about our services.
