body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    background-color: #3e38ef;
    overflow: auto;
}

.nav a {
    float: left;
    padding: 22px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: 30%;
    text-align: center;
}

.nav a:hover {
    background-color: #2b2a2a;
    border: rgb(104, 104, 234);
    border-radius: 5px;
}

.head{
    text-align: center;
    padding-top: 5%;
    
}

h1 {
    margin: 20px;
    color: rgb(3, 138, 3);
    text-shadow: 2px 2px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: blue;
    line-height: 1.9;
}

.content{
    text-align: center;
    font-size: larger;
}